<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="author" content="Raquel Alcázar">
        <title>Portal Musical</title>
    </head>
    <body>
        <a href="../controllers/logout.php"><button>Cerrar Sesión</button></a>
        <a href="../controllers/controller_downmusic.php"><button>Volver</button></a>
	    <h1>Facturas</h1>

        <form name='facturas' method='post' action='../controllers/controller_facturas.php'>

            <label for="fecha_ini">Fecha inicio</label>
            <input type="date" name="fecha_ini"/><br><br>
            <label for="fecha_FIN">Fecha fin</label>
            <input type="date" name="fecha_fin"/><br><br>

            <input type="submit" name="boton"><br>
        </form>       
    </body>
</html>